{% extends 'main.html' %} 
{% load static %}

{% block title %}
profile page
{% endblock title %}



{% block body %}

<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 60px; background-image: url({% static 'img/shattered.png'%}); background-size: cover; background-position: center top;">
    <div class="container">
    <br>
<br>
        <div class="card card-profile shadow">
            <div class="row justify-content-center">
                <div class="col-lg-3 order-lg-2">
                    <div class="card-profile-image">
                        <a href="#">
                            <img src="/media/{{other_user_info.profile_photo}}" class="rounded-circle" width="130" height="180">
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                <div class="d-flex justify-content-between">
                    <br><br>
                </div>
                
            </div>
            <br>
            <br>
            <br>
            <div class="card-body pt-0 pt-md-4">
                <div class="row">
                    <div class="col">
                        <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                            <div>
                                <span class="heading">{{follows_count}}</span>
                                <span class="description">followers</span>
                            </div>
                            <div>
                
                                <span class="heading">{{posts_count}}</span>
                                <span class="description">Photos</span>
                            </div>
                              
                        </div>        
                    </div>
                </div>

                
                <form method="post" >
                    {% csrf_token %}
                    {% if is_follower%}
                    <input type="hidden" name="follower" value="{{other_user_info.user}}">
                    <button type="submit" class="btn btn-primary btn-block container" > unfollow</button>
                    {%else%}
                    <button type="submit" class="btn btn-primary btn-block container"> follow</button>
                    {%endif%}
                </form>


                <div class="text-center">
                    <h3>
                    {{other_user_info.user}}
                    </h3>
                    <div class="h5 mt-4">
                        {% if other_user_info.bio %}
                        <i class="ni business_briefcase-24 mr-2"></i>{{other_user_info.bio}}
                        {% endif %}
                    </div>
                    <hr class="my-4">
                </div>


<div class="pics">
    <div class="container">
    <div class="row  ">
    {% for post  in other_user_photos %}
      <div class="col-lg-3 col-md-6 ">
        <img src="/media/{{post.image}}">
        <div class="overlay text-center ">
        <br>
        {% if post.caption  %}
        <h3 class="text-center">{{post.caption}} </h3>
        {% endif %}
        <i class="fas fa-heart fa-2x"></i>
      </div>
      </div>
        {% endfor %}
        </div>
  </div>
</div>

</div>
</div>
</div>
</div>



{% endblock body %}