<!--  I AM NOT A FRONT END DEVELOPER {I HATE CSS / } IS EXECUSE MY BAD CODE -->

{% extends 'base.html' %}
{% load static %}

{% block title %}
profile page
{% endblock title %}

{% block body %}

<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 60px; background-image: url({% static 'img/shattered.png'%}); background-size: cover; background-position: center top;">
    <div class="container">
    <br>
<br>
        <div class="card card-profile shadow">
            <div class="row justify-content-center">
                <div class="col-lg-3 order-lg-2">
                    <div class="card-profile-image">
                        <a href="#">
                            <img src="/media/{{user_info.profile_photo}}" class="rounded-circle" width="130" height="180">
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                <div class="d-flex justify-content-between">
                    <a href=" {% url 'account:profile_edit' %}" class="btn btn-sm btn-info mr-4">edit</a>
                    <a href=" {% url 'account:add_post' %}" class="btn btn-sm btn-info ">add post</a>
                </div>
                
            </div>
            <br>
            <br>
            <br>
            <div class="card-body pt-0 pt-md-4">
                <div class="row">
                    <div class="col">
                        <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                            <div>
                                <span class="heading">{{follows_count}}</span>
                                <a href="{% url 'account:profile_follower' %}">
                                <span class="description">followers</span>
                                </a>
                            </div>
                            <div>
                                <span class="heading">{{posts_count}}</span>
                                <span class="description">Photos</span>
                            </div>
                            <div>
                               <span class="heading">{{following_count}}</span>
                            <a href="{% url 'account:profile_following' %}">
                                <span class="description">following</span>
                            </a> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <h3>
                    {{request.user}}
                    </h3>
                    <div class="h5 mt-4">
                        {% if user_info.bio %}
                        <i class="ni business_briefcase-24 mr-2"></i>{{user_info.bio}}
                        {% endif %}
                    </div>
                    <hr class="my-4">
                </div>


            <div class="pics">
                <div class="container">
                <div class="row  ">
                {% for post  in posts %}
                  <div class="col-lg-3 col-md-6 ">
                    <img src="/media/{{post.image}}">
                    <div class="overlay text-center ">
                    <br>
                    {% if post.caption  %}
                    <h3 class="text-center">{{post.caption}} </h3>
                    {% endif %}
                <a href="{% url 'post' post.pk %}"><h3>comments</h3></a>
                <form method="post" onsubmit="return confirm('Do you want to delet the post?');">
                {% csrf_token %}
                <input type="hidden" name="pk" value="{{post.pk}}">
                <button type="submit" class="btn btn-primary btn-block " >delet</button>
                </form>
                  </div>
                  </div>
                    {% endfor %}
                    </div>
              </div>
            </div>

            </div>
        </div>
    </div>
</div>




{% endblock body %}